.addPostContainer {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    margin: 20px auto 0;
    max-width: 800px;
    padding: 10px;
    text-align: center;
}

.addPostContainer form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.addPostContainer h2 {
    color: var(--dark-gray);
    margin: 0 10px 10px;
}

.addPostContainer input,
textarea {
    border: 1px solid var(--light-gray);
    width: 100%;

}

.addPostContainer .bodyInput {
    min-height: 40px;
    max-height: 100px;
}

.addPostContainer .submitInput {
    background-color: var(--light-blue);
    max-width: 100%;
}

.addPostContainer .resetInput {
    background-color: var(--med-gray);
    border: none;
    width: 100%;
}


.addPostContainer__footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

@media (min-width:600px) {
    .addPostContainer .resetInput {
        width: 100px;
    }

    .addPostContainer .submitInput {
        max-width: 100px;
    }
    
    .addPostContainer__footer {
        flex-direction: row;
    }
}