:root {
  background-color: #070C21;
  --white: #FBFFFF;
  --dark-gray: #41465B;
  --med-gray: #D9D9D9;
  --light-gray: #F0F0F0;
  --light-blue: #3EE8E5;
  --dark-blue: #0B3E69;
  margin: auto 20px;
}

.App {
  text-align: center;
}

.App h1 {
  color: var(--white);
}

.App a {
  color: var(--dark-gray);
  text-decoration: none;
}